

/* Navigation Menu */

nav{
    float: left;
}

nav ul li{
    list-style: none;
    float: left;
}

nav ul li a{
    display: block;
    padding: 7px 12px;
}

/*	Maincontent*/

#main-container{		/*	a	wrapperforallpage	content*/
    width:	980px;
    margin:	0	auto;
}

div#main{
    clear:	both;
}
/* Footer */
footer {
    background: #eee;
    height: 20px;
}