/*------------TODOS LOS ID----------- */
#main-container{
    /*CONTENEDOR PRINCIPAL*/
    width: 1200px;
    margin: 15px auto;
    text-align: center;
}
#titulo{
    /*LOGO IMAGEN DE LA PAGINA*/
    background: #FFFBB9;
    border: 2px solid #999999;
    padding: 20px;
}

#login{
    /*CONTENEDOR DEL LOGIN*/
    float: right;
}


#seccionLogin{
    /*FORMULARIO DEL SUBMIT*/
    float: right;
}

#submitFormLogin{
    /*ESTILO DEL LOGIN*/
    margin: 5px;
}


.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

#seccionContenedores:after{
    content: "";
    display: table;
    clear:both;

}

#Mapa{
    width: 250px;
    height: 150px;
}

#contenedorVideo{
    float: right;
}

#seccionSeleccion{

}


/*------------ TODOS LOS STYLES INTERNOS ----------- */

header,section,footer,aside,nav,article,
figure,figcaption,hgroup{
    display: block;
}

ul{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}
li{
    float: left;
}

li a {
    display: inline-block;
    background: #FFFBB9;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: red;
}

label{
    display: block;
    margin: .5em 0 0 0;

}

